page-add-member {
  .item.item-ios.list-header.list-header-ios.item-ios-light.list-header-ios-light {
	min-height: 2rem !important;
  }
  .label.label-ios {
  	margin-top: 5px !important; 
  	margin-bottom: 5px !important;
  	margin-left: 0px !important;
  	font-size: small !important;
  }
  
}
