page-popover-content {
	.item-block {
		text-align: right;
	}
  	.label.label-ios {
	  	font-size: large !important;
		text-align: center !important;
		margin: 0; 
  	}
  	.list.list-ios {
		margin: 0;
  	}
  	.list-ios > .item-block:last-child,  
  	.list-ios > .item-block:first-child{
    	border-bottom: none;
    	border-top: none;
	}
	.item.item-block.item-ios {
		padding-left: 0 !important;
	}
	.item-inner {
		padding-right: 0 !important;
	}
}
