page-fundraising {
	div.setpadding {
	    padding: 5px;
	}

	.ItemSpace {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
	
	.col {
		padding: 0;
	}

	.label.label-ios.ng-tns-c0-0 {
		padding: 0;
	}

	.item.item-block.item-ios.ng-tns-c0-0.ng-star-inserted {
		padding-left: 8px;
	}

	.item-inner {
		padding-right: 8px !important;
		width: 300px !important;
	}

	ion-item.item.item-block.item-ios.ng-tns-c0-0.ng-star-inserted {
    	width: 343px;
	}
  //   .item.item-block.item-ios {
		// border-left: 1px solid black;
  //   }

}
